@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
}

#login-pattern {
    background-color: #ff8906;
    mask-image: url("/static/img/login-pattern.svg");
}

.border-b-1 {
    border-bottom-width: 1px;
}

.leading-1 {
    line-height: 0.1rem;
}
