@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
}

#login-pattern {
    background-color: #ff8906;
    mask-image: url("/static/img/login-pattern.svg");
}
