{{ template "base.html" . }}

{{ define "title" }}Bookmarks{{ end }}

{{ define "content" }}
<header class="border-b-2">
    <h4 class="text-3xl font-semibold">Bookmarks</h4>
</header>
<section class="scrollable flex flex-col">
    <div class="bookmark-list">
        {{ range .Bookmarks }}
        <div class="bookmark-item relative border-b-2 pb-2">
            <div class="bookmark-title text-xl font-semibold">
                {{ .Title }}
            </div>
            <div class="bookmark-description text-sm text-gray-800">
                {{ .Description }}
            </div>
            <div class="text-sm text-primary">
                {{ range .Tags }}
                <a href="/?tag={{ .Name }}" class="relative z-10"><span class="tag">#{{ .Name }}</span></a>
                {{ end }}
            </div>
            <div class="bookmark-info text-sm text-gray-500">
                {{ if .Favorite }}🧡 · {{ end }}
                {{ if .Read }}Read{{ else }}Unread{{ end }} ·
                {{ .URL | domain }} ·
                {{ .CreatedAt.Format "02 Jan 2006"}} ·
                <a href="/edit/{{ .ID }}" class="relative z-10 text-blue-600">Edit</a> ·
                <a href="/delete/{{ .ID }}" class="relative z-10 text-red-600">Delete</a>
            </div>
            <a href="{{ .URL }}" target="_blank" rel="noopener noreferrer"
                class="bookmark-link absolute left-0 top-0 right-0 bottom-0 text-transparent outline-none no-underline"></a>
        </div>
        {{ end }}
    </div>
    <div id="pagination" class="inline-flex items-center justify-center gap-4 mt-6 mb-2 self-center">
        <a href="{{ .PrevPageURL }}"
            class="{{ if not .PrevPageURL }}invisible {{ end }}inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
            <span class="sr-only">Next Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>

        <p class="text-xs text-gray-900">
            {{ .CurrentPage }}
            <span class="mx-0.25">/</span>
            {{ .NumberOfPages }}
        </p>

        <a href="{{ .NextPageURL }}"
            class="{{ if not .NextPageURL }}invisible {{ end }}inline-flex h-8 w-8 items-center justify-center rounded border border-gray-100 bg-white text-gray-900 rtl:rotate-180">
            <span class="sr-only">Next Page</span>
            <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" viewBox="0 0 20 20" fill="currentColor">
                <path fill-rule="evenodd"
                    d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
                    clip-rule="evenodd" />
            </svg>
        </a>
    </div>

</section>
{{ end }}
