{{ template "base.html" . }}

{{ define "title" }}{{ if .Bookmark }}Edit{{ else }}Add{{ end }} Bookmark{{ end }}

{{ define "content" }}
<header class="border-b-2">
    <h4 class="text-3xl font-semibold">{{ if .Bookmark }}Edit{{ else }}Add{{ end }} Bookmark</h4>
</header>
<section class="scrollable">
    <div class="w-96 mt-6 mx-auto">
        <form {{ if .Bookmark }} action="/edit/{{ .Bookmark.ID }}" {{ else }} action="/add" {{ end }} method="POST"
            class="grid grid-cols-6 gap-6">
            <div class="col-span-6">
                <label for="url">URL</label>
                <input type="text" name="url" id="url" class="w-full" placeholder="https://example.com" required
                    value="{{ .Bookmark.URL }}">
            </div>
            <div class="col-span-6">
                <label for="tags" class="block">Tags</label>
                <select multiple id="tags" name="tags[]" class="tags-select w-full hidden">
                    {{ $initialTags := .InitialTags }}
                    {{ range .Tags }}
                    <option value="{{ .Name }}" {{ if stringIn .Name $initialTags }}selected{{ end }}>{{ .Name }}
                    </option>
                    {{ end }}
                </select>
            </div>
            <div class="col-span-6">
                <input type="checkbox" name="favorite" id="favorite" {{ if .Bookmark.Favorite }}checked{{ end }}>
                <label for="favorite">Favorite</label>
            </div>
            <div class="col-span-6">
                <input type="checkbox" name="read" id="read" {{ if .Bookmark.Read }}checked{{ end }}>
                <label for="read">Read</label>
            </div>
            <button type="submit" class="col-span-6 w-full border border-primary">
                {{ if .Bookmark }}Save{{ else }}Add{{ end }}
            </button>
        </form>
        {{ if .Bookmark }}
        <h4 class="text-center border-b-1 leading-1 border-black my-5">
            <span class="px-3 bg-white">OR</span>
        </h4>
        <form action="/delete/{{ .Bookmark.ID }}" method="POST" class="grid grid-cols-6 gap-6 mt-6">
            <button type="submit" class="col-span-6 w-full border border-red-900 bg-red-600">
                Delete
            </button>
        </form>
        {{ end }}
    </div>
</section>
{{ end }}

{{ define "scripts" }}
<script>
    $(document).ready(function () {
        $(".tags-select").select2({
            width: "100%",
            tags: true,
        });
    });
</script>
{{ end }}
