<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | Nurli</title>

  <link rel="preconnect" href="https://fonts.bunny.net">
  <link href="https://fonts.bunny.net/css?family=open-sans:300,600" rel="stylesheet" />

  <link rel="stylesheet" href="static/css/base.css">
</head>

<body>
  <section>
    <div>
      <div id="login-pattern" class="relative block h-16 w-full">
      </div>

      <main class="flex items-center justify-center px-12 py-8">
        <div class="w-96">
          <a class="block" href="/login">
            <img class="h-16 mx-auto" src="static/img/logo.svg" alt="Nurli" />
          </a>

          {{ if .error }}
          <div role="alert" class="rounded border-s-4 border-red-500 bg-red-50 p-4">
            <strong class="block font-medium text-red-800">{{ .error }}</strong>
          </div>
          {{ end }}

          <form action="/login" method="POST" class="mt-8 grid grid-cols-6 gap-6">
            <div class="col-span-6">
              <label for="Username" class="block text-sm font-medium text-gray-700">
                Username
              </label>

              <input type="text" id="Username" name="username" required
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
            </div>

            <div class="col-span-6">
              <label for="Password" class="block text-sm font-medium text-gray-700">
                Password
              </label>

              <input type="password" id="Password" name="password" required
                class="mt-1 w-full rounded-md border-gray-200 bg-white text-sm text-gray-700 shadow-sm" />
            </div>

            <!--
            <div class="col-span-6">
              <label for="RememberMe" class="flex gap-4">
                <input type="checkbox" id="RememberMe" name="remember_me"
                  class="h-5 w-5 rounded-md border-gray-200 bg-white shadow-sm" />

                <span class="text-sm text-gray-700">
                  Remember me
                </span>
              </label>
            </div>
            -->

            <div class="col-span-6">
              <button
                class="w-full inline-block shrink-0 rounded-md border border-primary bg-primary px-12 py-3 text-sm font-medium text-white transition hover:bg-transparent hover:text-primary focus:outline-none focus:ring active:text-primary">
                Log in
              </button>
            </div>
          </form>
        </div>
      </main>
    </div>
  </section>
</body>

</html>
